body {
    background-image: url("fancy-cushion.png");
    background-color: black; 
}

.mt-20{
    margin-top: 20px;
}

#main-bio {
    margin-top: 60px;
    min-height: 400px;
    margin-bottom: 150px;
    padding: 30px;
}

h1{
    border-bottom: solid black;
}

img{
    height: 200px;
    width: 200px;
    margin-right: 20px;
    float: left;
}

footer {
    background-color: whitesmoke;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 90px;
    text-align: center;
    color: grey; 
}

.container{
width: 60%; 

}


.clearfix {
    clear: both;
}
.col2{
    max-width:100%;
    width: 100px;
}
